header {grid-area: header; }
.nav {grid-area: nav; }
footer {grid-area: footer; }
#mod1 {grid-area: mod1; }
#mod2 {grid-area: mod2; }
#mod3 {grid-area: mod3; }
.para2{grid-area: para2; }


* {
    margin: 0;
    padding: 0;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
}

.icontainer {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
}

.centered1 {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
}

label{
    color: orange;
}

p{
    color: orange;
}

body {
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}
header {
    margin: 0;
    padding: 0;
    background-color: orange; 
    color: #FFFFFF;
    text-align: center;
}



.nav {
    background-color: orange;
    color: #ffa500;
}


.para2 {
    margin: 10px;
    padding: 5px;
    font-style: italic;
    float: left;
    background-color: white;
}

.add {
    margin: 10px;
    padding: 10px;
}



.container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'header header header header'
    'mod2 mod2 mod3 mod3 '
    'mod2 mod2 mod3 mod3 '
    'footer footer footer footer';  

    grid-gap: 5px;
    background-color: #FFFFFF
    padding: 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: orange;
}

.flex-container > .card {
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.card{
  width: 300px;
  height: 300px;
}



.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navlist {
    float: left;
}

.navlist .navlink{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist .navlink:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.signupbtn {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-around;
}

.button:hover {
    background-color: green;
}

.signinbtn {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-around;
}

.submit {
    background-color: orange;
}


.f1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
}


.op {
    width: 500px;
    margin: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
}


.sign{
    color: orange;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

button:hover {
    background-color: #000000;
    color: #FFFFFF
}



div.Mod {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.Mod:hover {
    border: 1px solid #777;
}

div.Mod img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}





@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

*,
*::before,
*::after { 
  box-sizing: border-box;
}




img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid @gray-light;
  //border-radius: 1rem;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
      display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}


.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}



.carddiv {
  min-height: 95vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;
}

.card1 {
  width: 450px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  border: 1px solid #000000;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header1 {
  color: orange;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid #000000;
  background-color: #E0F7FA;
  padding: 5px 10px;
}

.card-main1 {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

.material-icons {
  font-size: 36px;
  color: #0097A7;
  margin-bottom: 5px;
}

.main-description1 {
  color: #0097A7;
  font-size: 20px;
  text-align: center;
}